<p id="notice"><%= notice %></p>

<p>
  <strong>Counttype:</strong>
  <%= @counttype.counttype %>
</p>

<%= link_to 'Edit', edit_counttype_path(@counttype) %> |
<%= link_to 'Back', counttypes_path %>
